* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Open Sans", sans-serif;
  text-rendering: auto;
}

@font-face {
  font-family: "Montserrat";
  src: url("../Montserrat-Light.eot");
  src: local("Montserrat Light"), local("Montserrat-Light"),
    url("../Montserrat-Light.eot?#iefix") format("embedded-opentype"),
    url("../Montserrat-Light.woff") format("woff"),
    url("../Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../Montserrat-MediumItalic.eot");
  src: local("Montserrat Medium Italic"), local("Montserrat-MediumItalic"),
    url("../Montserrat-MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("../Montserrat-MediumItalic.woff") format("woff"),
    url("../Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../Montserrat-Thin.eot");
  src: local("Montserrat Thin"), local("Montserrat-Thin"),
    url("../Montserrat-Thin.eot?#iefix") format("embedded-opentype"),
    url("../Montserrat-Thin.woff") format("woff"),
    url("../Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../Montserrat-ExtraLightItalic.eot");
  src: local("Montserrat ExtraLight Italic"),
    local("Montserrat-ExtraLightItalic"),
    url("../Montserrat-ExtraLightItalic.eot?#iefix") format("embedded-opentype"),
    url("../Montserrat-ExtraLightItalic.woff") format("woff"),
    url("../Montserrat-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../Montserrat-BoldItalic.eot");
  src: local("Montserrat Bold Italic"), local("Montserrat-BoldItalic"),
    url("../Montserrat-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../Montserrat-BoldItalic.woff") format("woff"),
    url("../Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../Montserrat-SemiBold.eot");
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"),
    url("../Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../Montserrat-SemiBold.woff") format("woff"),
    url("../Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../Montserrat-ExtraLight.eot");
  src: local("Montserrat ExtraLight"), local("Montserrat-ExtraLight"),
    url("../Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"),
    url("../Montserrat-ExtraLight.woff") format("woff"),
    url("../Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../Montserrat-ExtraBoldItalic.eot");
  src: local("Montserrat ExtraBold Italic"), local("Montserrat-ExtraBoldItalic"),
    url("../Montserrat-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../Montserrat-ExtraBoldItalic.woff") format("woff"),
    url("../Montserrat-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../Montserrat-Italic.eot");
  src: local("Montserrat Italic"), local("Montserrat-Italic"),
    url("../Montserrat-Italic.eot?#iefix") format("embedded-opentype"),
    url("../Montserrat-Italic.woff") format("woff"),
    url("../Montserrat-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../Montserrat-Bold.eot");
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../Montserrat-Bold.eot?#iefix") format("embedded-opentype"),
    url("../Montserrat-Bold.woff") format("woff"),
    url("../Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../Montserrat-LightItalic.eot");
  src: local("Montserrat Light Italic"), local("Montserrat-LightItalic"),
    url("../Montserrat-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("../Montserrat-LightItalic.woff") format("woff"),
    url("../Montserrat-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../Montserrat-BlackItalic.eot");
  src: local("Montserrat Black Italic"), local("Montserrat-BlackItalic"),
    url("../Montserrat-BlackItalic.eot?#iefix") format("embedded-opentype"),
    url("../Montserrat-BlackItalic.woff") format("woff"),
    url("../Montserrat-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../Montserrat-SemiBoldItalic.eot");
  src: local("Montserrat SemiBold Italic"), local("Montserrat-SemiBoldItalic"),
    url("../Montserrat-SemiBoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../Montserrat-SemiBoldItalic.woff") format("woff"),
    url("../Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../Montserrat-Regular.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
    url("../Montserrat-Regular.woff") format("woff"),
    url("../Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../Montserrat-Medium.eot");
  src: local("Montserrat Medium"), local("Montserrat-Medium"),
    url("../Montserrat-Medium.eot?#iefix") format("embedded-opentype"),
    url("../Montserrat-Medium.woff") format("woff"),
    url("../Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../Montserrat-ExtraBold.eot");
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"),
    url("../Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../Montserrat-ExtraBold.woff") format("woff"),
    url("../Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../Montserrat-Black.eot");
  src: local("Montserrat Black"), local("Montserrat-Black"),
    url("../Montserrat-Black.eot?#iefix") format("embedded-opentype"),
    url("../Montserrat-Black.woff") format("woff"),
    url("../Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../Montserrat-ThinItalic.eot");
  src: local("Montserrat Thin Italic"), local("Montserrat-ThinItalic"),
    url("../Montserrat-ThinItalic.eot?#iefix") format("embedded-opentype"),
    url("../Montserrat-ThinItalic.woff") format("woff"),
    url("../Montserrat-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

html,
body {
  font-size: 62.5%;
  font-family: "Monserrat";
}

@media (max-width: 108em) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 105em) {
  html {
    font-size: 8.75px;
  }
}

@media (max-width: 91.5em) {
  html {
    font-size: 7.9px;
  }
}

@media (max-width: 91em) {
  html {
    font-size: 8.4px;
  }
}

@media (max-width: 90em) {
  html {
    font-size: 7.9px;
  }
}

@media (max-width: 80em) {
  html {
    font-size: 7.2px;
  }
}

@media (max-width: 72em) {
  html {
    font-size: 6.5px;
  }
}

@media (max-width: 64em) {
  html {
    font-size: 5.5px;
  }
}

@media (max-width: 44em) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 38em) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 34em) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 30em) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 26em) {
  html {
    font-size: 4.5px;
  }
}

@media (max-width: 21em) {
  html {
    font-size: 4.4px;
  }
}

.wrapper {
  background: linear-gradient(51.78deg, #5540bf 28.44%, #afa1f9 99.76%);
  padding-bottom: 12.1rem;
  color: #ffffff;
}

.header {
  padding-top: 4rem;
  margin-bottom: 11.8rem;
}

.container {
  width: 115rem;
  margin: 0 auto;
}

.header .container {
  padding-right: 8.3rem;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 122%;
  text-transform: uppercase;
}

.header__nav {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 121%;
}

.header__item {
  text-decoration: none;
  color: #ffffff;
}

.header__item:not(:last-child) {
  margin-right: 3.1rem;
}

.hero__img {
  width: 56.1rem;
  height: 51.1rem;
}
.hero__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hero .container {
  display: flex;
  justify-content: space-between;
}

.hero__text {
  width: 47.5%;
}

.hero__header {
  font-weight: bold;
  font-size: 4.6rem;
  line-height: 113%;
  margin-bottom: 3.5rem;
  padding-right: 2.2rem;
}

.hero__description {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  line-height: 140%;
  margin-bottom: 6.5rem;
  max-width: 48rem;
}

.hero__link {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 125%;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border: 0.1rem solid #ffffff;
  border-radius: 0.5rem;
  padding: 1.7rem 4.1rem;
  max-width: 20rem;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.hero__link:first-child {
  margin-right: 2rem;
}

.hero__buttons {
  display: flex;
  margin-bottom: 3.5rem;
}

.hero__subtext {
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 129%;
  max-width: 44rem;
}

.footer {
  padding-top: 7rem;
  padding-bottom: 5.5rem;
  color: #5540bf;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 122%;
}

.footer__icon {
  width: 3rem;
  height: 3rem;
}

.footer__icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer__icons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2.6rem;
}

.footer__icon:not(:last-child) {
  margin-right: 1.8rem;
}

.footer__text {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 138%;
}

.online {
  background: linear-gradient(78.94deg, #5540bf 36.07%, #afa1f9 99.58%);
}

.online .container {
  display: flex;
}

.online__text {
  padding: 10.1rem 2.2rem 10.1rem 0;
  color: #ffffff;
}

.online__header {
  max-width: 50rem;
  margin-bottom: 3.6rem;
  font-weight: bold;
  font-size: 3.6rem;
  line-height: 117%;
}

.online__description {
  margin-bottom: 4.4rem;
  max-width: 51.2rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  line-height: 156%;
}

.online__img {
  width: 58.8rem;
  height: 45.5rem;
  margin-top: -5.8rem;
}

.online__img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@media (min-width: 48em) {
  .hero__link:hover {
    color: #5540bf;
    background-color: #ffffff;
    cursor: pointer;
  }
}

/* Mobile */
@media (max-width: 48em) {
  html {
    font-size: 10px;
  }

  .wrapper {
    padding-bottom: 8rem;
  }

  .container {
    width: 100%;
    padding: 0 3rem;
  }

  .header {
    margin-bottom: 8rem;
  }

  .header__logo {
    font-size: 2.2rem;
  }

  .header__nav {
    display: none;
  }

  .hero .container {
    flex-direction: column-reverse;
  }

  .hero__img {
    width: 27.1rem;
    height: 25.1rem;
    margin-bottom: 4rem;
  }

  .hero__header,
  .online__header {
    font-size: 3rem;
    line-height: 130%;
  }

  .hero__text {
    width: 100%;
  }

  .hero__buttons {
    flex-direction: column;
  }
  .hero__link {
    display: block;
    text-align: center;
    text-overflow: initial;
  }

  .hero__link:first-child {
    margin-bottom: 1rem;
  }

  .hero__subtext {
    line-height: 140%;
  }

  .footer .container {
    flex-direction: column;
  }

  .footer__logo {
    margin-bottom: 3rem;
  }

  .footer__icons {
    justify-content: flex-start;
    margin-bottom: 2.6rem;
  }

  .footer__text {
    font-size: 1.4rem;
  }

  .online .container {
    flex-direction: column-reverse;
    padding-top: 4rem;
  }

  .online__text {
    padding-top: 6rem;
  }

  .online__img {
    width: 100%;
    height: auto;
    margin-top: 0;
  }
}
